<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBu7Da8H-RhJgiOxPH9N7S57KRk356yU0o</string>
	<key>GCM_SENDER_ID</key>
	<string>533767602566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.buidev.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>personal-base-project</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-base-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533767602566:ios:1d4f42151652e22b4dac07</string>
</dict>
</plist>